<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title != site.name %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <!--<link rel="stylesheet" href="{{site.baseurl}}/stylesheets/stylesheet.css" />-->

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
            <h4>{{ site.description }}</h4>
        </header>

        <main>
            <article>
                <header>
                    {% if page.title != site.name %}
                    <h2>{{ page.title }}</h2>
                    {% endif %}
                    <span class="category"><i class="icon-tag"></i> {{ page.categories | category_links }}</span><br/>
                </header>

                <div class="entry">{{ content }}</div>

                <footer>
                    <!-- additional info -->
                </footer>

            </article>
        </main>

        <footer>
            {% if page.title != site.name %}
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            {% endif %}
        </footer>

    </body>

</html>
