<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title != site.name %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/stylesheet.css" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: { equationNumbers: { autoNumber: "AMS" } }
        });
        </script>

        <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
        <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <script type="text/javascript" 
            src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" 
            src="{{site.baseurl}}/javascripts/parseUri.js"></script>
        <script type="text/javascript" 
            src="{{site.baseurl}}/javascripts/google.js"></script>
        <script type="text/javascript" 
            src="{{site.baseurl}}/javascripts/viewSource.js"></script> 
        <script type="text/javascript" 
            src="{{site.baseurl}}/javascripts/style.js"></script>

    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>

            <form action="http://www.google.com/search" method="get" id="google">
                <input id="hiddenField" name="q" type="hidden" />
                <input id="textField" name="qfront" type="text" 
                    placeholder="Search this document" style="width: 180px" /> 
            </form>
            <div style="clear:both;"></div>
        </header>

        <main>
            <article>
                <header>
                    {% if page.title != site.name %}
                    <h2>{{ page.title }}</h2>
                    {% endif %}
                </header>

                <div class="entry">{{ content }}</div>

                <div class="github">
                    <a id="viewSource" href="{{ page.path }}"><span id="external">&nbsp;</span>View source on GitHub</a>
                </div>


            </article>
        </main>

        <footer>
            {% if page.title != site.name %}
            <a href="{{ site.baseurl }}/">{{ site.name }}</a>
            {% endif %}
        </footer>

    </body>

</html>
